
<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a  href="#/user/{{model.userId}}/website/new" class="navbar-link naviBar">
                <span class="glyphicon glyphicon-plus">
                </span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}" class="navbar-link naviBar">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand naviBar" href="#">
                Websites
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid pushDown">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item">
            <a href="#/user/{{website.developerId}}/website/{{website._id}}/page"
            style = "text-decoration: none">
                {{website.name}}
            </a>
            <div class="pull-right">
                <a href="#/user/{{website.developerId}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link naviBar">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </div>
    </div>
</nav>
