<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="navbar-link naviBar">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand naviBar" href="#">
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div ng-switch="model.widget.type">
                <div ng-switch-when="HEADER">
                    <ng-include src="'Views/Widget/templates/editors/widget-heading-editor.view.client.html'"/>
                </div>
                <div ng-switch-when="YOUTUBE">
                    <ng-include src="'Views/Widget/templates/editors/widget-youtube-editor.view.client.html'"/>
                </div>
                <div ng-switch-when="IMAGE">
                    <ng-include src="'Views/Widget/templates/editors/widget-image-editor.view.client.html'"/>
                </div>
                <div ng-switch-when="HTML">
                    <ng-include src="'Views/Widget/templates/editors/widget-html-editor.view.client.html'"/>
                </div>
                <div ng-switch-when="TEXT">
                    <ng-include src="'Views/Widget/templates/editors/widget-text-editor.view.client.html'"/>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link naviBar">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </div>
    </div>
</nav>