
<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link naviBar">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand naviBar"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group pushDown">
        <li class="list-group-item">
            <a ng-click="model.createHeaderWidget()" style = "text-decoration: none">
                Header </a>

        </li>
        <li class="list-group-item">
            <a ng-click="model.createImageWidget()" style = "text-decoration: none">
                Image </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createYouTubeWidget()" style = "text-decoration: none">
                YouTube </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link naviBar">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </div>
    </div>
</nav>