<nav class="navbar navbar-fixed-top navbar-light bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="nav-text naviBar" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="nav-text naviBar" ng-click="model.updateWidget(model.widget)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand nav-text naviBar"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                Image Editor
            </a>
        </div>
    </div>
</nav>
<div class="form-group container-fluid">
    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputwidth">Width</label>
            <input type="text"
                   ng-model="model.widget.width"
                   class="form-control"
                   id="inputwidth"
                   placeholder = "100%"/>
        </div>
        <label for="inputimage">Upload</label>
        <input name="myFile"
               type="file"
               id="inputimage"
               class="form-control"/>
        <input name="uid"
               value="{{model.userId}}"
               style="display: none"/>
        <input name="wid"
               value="{{model.widgetId}}"
               style="display: none"/>
        <input name="widgetId"
               value="{{model.widget._id}}"
               style="display: none"/>
        <button type="submit"
               class="btn btn-block btn-primary">Upload Image</button>

        <a class="btn btn-danger btn-block"
           ng-click="model.deleteWidget(model.widget._id)">
            Delete
        </a>
    </form>

</div>

<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link naviBar">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </div>
    </div>
</nav>