<nav class="navbar navbar-fixed-top navbar-light bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="nav-text naviBar" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="nav-text naviBar" ng-click="model.updateWidget(model.widget)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand nav-text naviBar"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                HTML Editor
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <label for="widget-text">Text</label>
    <textarea class="form-control"
              id="inputname"
              ng-model="model.widget.text"></textarea>
</div>
<div>
    <a class="form-control btn btn-danger pushDown"
       ng-click="model.deleteWidget(model.widget._id)">
        Delete
    </a>
</div>

<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link naviBar">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </div>
    </div>
</nav>