<div class="container-fluid">
    <div class="website-list">
        <label for="widget-url">URL</label>
        <input ng-model="model.widget.url" id="widget-url" class="form-control" type="url" placeholder="URL"/>
        <label for="widget-width">Width</label>
        <input ng-model="model.widget.width" id="widget-width" class="form-control" type="text" placeholder="Width"/>

        <a class="form-control btn btn-danger"
           ng-click="model.deleteWidget(model.widget._id)">
            Delete
        </a>
    </div>
</div>