<div class="container-fluid">
    <div class="website-list">
        <label for="widget-text">Text</label>
        <input ng-model="model.widget.text"
               id="widget-text"
               class="form-control"
               type="text"
               placeholder="Text"/>

        <div class="container-fluid">
            <label for="headersize">Size</label>
            <select id="headersize"
                    ng-model="model.widget.size"
                    class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>

        <a class="form-control btn btn-danger"
           ng-click="model.deleteWidget(model.widget._id)">
            Delete
        </a>
    </div>
</div>