input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.nav.navbar-nav li a {
    color: white;
}

#naviBar {
    color : white;
}

.naviBar {
    color: white;
}

.pushDown{
    position: relative;
    top : 20px;
}